
body{
color:#cb1d3a;
margin: 0;
padding: 15px 20px;
min-height: 99%;
width: 100%;
min-width: 550px;
font-family: cursor, 'Courier New', Courier, monospace;
overflow-x: hidden;
background: #323232;
}
::selection{
color: #c3b628;
background-color: #c22755;
}
::-moz-selection{
color: #c3b628;
background-color: #ac1e35;
}
textarea{
  left: -1000px;
  position: absolute;
}
b{
  font-weight: bold;
  text-decoration: underline;
}
.cursor{
  font-size: 12px;
  color:#211830;
  background-color: #cb1d3a;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1.5s linear infinite;
  
}
@keyframes blinker {
  50%{
    opacity: 0;
    }
}
#command
{
  cursor: text;
  height: 50px;
  color: #cb1d3a;
}
#liner{
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before{
  color:#cb1d3a;
  content: "guest@lcterminal.com:~$";
}
@keyframes show {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
p {
display: block;
color: #CBA742;
margin: 0;
overflow: hidden;
white-space: nowrap;
line-height: 1.3em;
letter-spacing: 0.05em;
animation: typing 1s steps(30, end);
}
.no-animation {
animation: typing 0 steps(30, end);
}
.margin {
margin-left: 20px;
}
@keyframes typing {
from {
  width: 0;
}
to {
  width: 100%;
}
}
.index {
color: #a6a6a6;
}
.color2 {
color: #e2d86a;
}
.command {
color: #b00d0d;
text-shadow: 0 0 10px #f04141; 
}
.error {
color: #B89076;
}
.white {
color: #fff;
}
.inherit,
a {
color: #c870ac;
}
a {
text-decoration: inherit;
}
a:hover {
background: CBA742;
color: #c93b2e;
}
a:focus {
outline: 0;
}